body {
    background-color: #222;
    font-family: 'Comic Sans MS', sans-serif;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero {
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 48px;
    margin: 10px;
}

.meme-generator {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.meme-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.meme-type {
    padding: 12px 24px;
    margin-right: 2px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    width: 300px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.meme-generator-btn {
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background: #00ffcc;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
.meme-generator-btn:hover {
    background-color: #00d6a0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.meme-card {
    text-align: center;
    margin : 10px;
    opacity: 1;
}

.meme-image {
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.meme-author {
    margin-top: 16px;
    font-style: italic;
    color: #aaa;
}

